.container {
    background-color: transparent;
}

.inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    width: 100%;
}

.title {
    padding: 10px 0 0;
    font: 700 38px / 1.3 var(--font-family);
    margin-bottom: 5px;
    color: #262626 !important;
    @media (max-width: 992px) {
        font: 500 24px / 1.3 var(--font-family);
    }
    @media (max-width: 575px) {
        font: 500 20px / 1.3 var(--font-family);
    }
}

.extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    padding: 4px 9px;
    @media (max-width: 992px) {
        padding: 4px 0;
    }
}
